
*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
}

li{
    font-family: 'Montserrat', sans-serif;
    font-size: 18.33333px;
    font-weight: 700;
    color: hsl(216, 100%, 37%);
    
}

#element-with-background-image {
    position: relative;
    background-image: url("./assets/image-1.jpg");
    z-index: 100;
    width: 100%;
    height: 100%;
    min-height: 85vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 10px;
    overflow: hidden;
 }
  
 #color-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 85vh;
    background-color: rgba(8, 10, 45, 0.5);
    color: #fff;
    opacity: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
 }
 .card{
    position: relative;
    width: 100%;
    max-width: 250px;
    height: 250px;
    z-index: 200;
    background-color: #fff;
    top: -80px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
 }
 .card-parent{
    z-index: 200;
    background-color: #fff;
 }
 .radio-header{
    width: 62%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;

 }

 .svg{
    position: absolute;
    bottom: -40px;
    display: flex;
    justify-self: center;
    align-self: center;
 }
 .card-one{
    font-weight: 700;
 }
 .section-two{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 40px;
    background-color: yellowSSS;
 }
.inner-service-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section-header{
    width: 50%;
    text-align: center;
    margin-top: 20px;
    font-weight: 550;
    line-height: 70px;
    font-size: 60px;
}
.section-two-right{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    margin-left: 5px;
}
.para, .para-1, .top{
    width: 90%;
}
.para{
    word-spacing: 2px;
    font-weight: 600;
}
.para-1{
    color: rgba(0, 0, 0, 0.5);
    line-height: 30px;
}
.last{
    color: #004bbe;
    width: 90%;
    font-size: 16px;
    font-weight: 600;
    text-align: left;
}
.image-1{
    width: 40%;
    height: 500px;
    margin-right: 5px;
}
.service-section{
    min-height: 100vh;
    width: 100%;
   margin-top: 40px;
}
.service-section-body{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-content{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.service-section-cards{
    display: flex;
    justify-content: flex-start;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
}
.image-2{
    width: 80px;
    height: 80px;
   
}
.stack{
    font-weight: 550;
}
.description{
    color: rgba(0, 0, 0, 0.5);
    line-height: 30px;
}


.items{
    width: 100%;
    max-width: 300px;
    height: auto;
    padding: 10px;
    margin-bottom: 20px;
    
}
span:hover{
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.portfolio{
    min-height: 100vh;
    width: 100%;
    background-color:rgb(8, 10, 45);
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner-portfolio{
    width: 80%;
    min-height: 90vh;
}
.inner-portfolio-content{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.card-portfolio{
    height: auto;
    width: 100%;
}
.card-portfolio{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.port-card{
    width: 100%;
    max-width: 380px;
    height: 300px;
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: 10px;
    background-color: #fff;
}
.center{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.port{
    width: 100%;
}
.recent-work{
    width: 100%;
    font-weight: bolder;
    font-size: 60px;
    margin-left: 10px;
}
.inner-portfolio-content p{
    margin-right: 35px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    font-weight: lighter;
}
.footer{
    width: 100%;
    min-height: 30vh;
    background-color: rgb(8, 10, 45);
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner-footer{
   width: 80%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 15px;
}
.inner-footer p{
    color: #fff;
}
 @media only screen and (max-width: 1050px) {
    .card-parent {
      width: 100%;
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .card{
        max-width: 600px;
        width: 100%;
        margin: 5px;
       
      }
      #element-with-background-image{
        margin-bottom: 150px;
      }
      .radio-header{
        font-size: 45px;
        line-height: 50px;
      }
      .radio p{
        font-size: 23px;
        text-align: center;
      }
      .section-header{
        width: 100%;
        text-align: center;
        line-height: 30px;
        font-size: 30px;
    }
      .section-two{
        display: flex;
        flex-direction: column;
      }
      .section-two-right{
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        
    }
    .top{
        width: 100%;
        margin-top: 20px;
        font-size: 20px;
        text-align: center;
    }
    .image-1{
        width: 100%;
        max-width: 600px;
        height: auto;
    }
    .para-1{
        font-size: 18px;
        width: 100%;
        text-align: center;
    }
    .items{
        width: 100%;
        max-width: 200px;
        height: auto;
        padding: 10px;
        margin-bottom: 20px;
        
    }
    .service-section-cards{
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
        width: 100%;
        max-width: 400px;
    }
    .description{
        color: rgba(0, 0, 0, 0.5);
        line-height: 20px;
    }
    .service-section-body{
        width: 100%;
    }
    .card-content{
        min-height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
  }
 

  @media only screen and (max-width: 450px) {
   
      .radio-header{
        width: 90%;
        font-size: 28px;
        font-weight: 700;
        line-height: 35px;
      }
      .radio p{
        width: 90%;
        font-size: 20px;
        text-align: center;
      }
      .section-two-right{
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
     
    }
    .para-1{
        font-size: 15px;
        width: 100%;
        text-align: center;

    }
    .top{
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }
    .image-1{
        width: 100%;
        max-width: 400px;
        height: auto;
    }
    .para{
        font-size: 20px;
        width: 100%;
    }
    .top{
        font-size: 16px;
    }
    .card-content{
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }
    .service-section-cards{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
        width: 100%;
        max-width: 350px;
    }
    .image-2{
        width: 50px;
        height: 50px;
        padding: 5px;
    }
    .service-section-body{
        width: 100%;
        padding: 20px;
    }
    .card-content{
        min-height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .recent-work{
        font-size: 30px;
    }
    .inner-portfolio-content{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .stack{
        text-align: center;
    }
  }
 
  

 
  

 
 